/* Container */
.countries {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  display: grid;
  background-color: #202020;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  border: 1px solid #fff;
  border-radius: 20px;
}

/* Country Card */
.country-card {
  background: #202020;
  border-radius: 16px;
  border: 1px solid darkkhaki;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Effect */
.country-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}

/* Text Styling */
.country-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #fff;
}

.country-card p {
  font-size: 1rem;
  margin: 6px 0;
  color: #fff;
}

.country-card .fact {
  margin-top: 12px;
  font-style: italic;
  color: #fff;
}
.btn {
  width: 100%;
  justify-content: center;
  border-radius: 20;
}

.btn1:hover {
  transition: all 0.3s ease;
  border-radius: 8px;
}

/* =====================
   RESPONSIVE BREAKPOINTS
===================== */

/* Tablet (2 per row) */
@media (max-width: 992px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile (1 per row) */
@media (max-width: 600px) {
  .countries {
    grid-template-columns: 1fr;
  }
}
