.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #eee;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 5rem auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
