* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #202020;
}

html {
  font-size: 62.5%;
  font-family: "urbanist";
}

body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

p,
li,
a,
button {
  font-size: 1.7;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #fff;
}

li {
  list-style: none;
}

a {
  color: #000;
  &:hover {
    color: #2e86c1;
  }
}

button {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  border-width: 0.1rem;
  border-style: solid;

  -webkit-border-radius: 1.5rem;
  -moz-border-redius: 1.5rem;
  -ms-border-redius: 1.5rem;
  -o-border-redius: 1.5rem;
  margin-top: 1.6rem;
}

.container {
  max-width: 110rem;
  margin: auto;
}

.page {
  min-height: calc(100vh - 72px); /* Subtract navbar height */
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .page {
    padding: 1rem;
  }
}
